html,body{
	background: rgba(255,255,225,.4);
	font-size: 12px;
}
html,body,div,ul,li,header,,footer,p,h1,h2,h3,h4,h5,h6{
	margin: 0px;
  	padding: 0px;
}
li{
  list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}